div.image-pack-view {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

div.image-pack-view > div.image-pack-chooser {
	display: flex;
	overflow: auto;
	padding-bottom: .5rem;
	flex-shrink: 0;

	> button {
		display: grid;
		grid-template:
			"image" 5rem
			"name" 3rem
			/ 6rem;
		flex-shrink: 0;
		align-items: baseline;

		&.selected {
			background-color: var(--image-pack-editor-selected-color);
		}

		> img {
			max-width: 90%;
			max-height: 90%;
			margin: auto;
		}

		> div.name {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

div.image-pack-editor, div.image-pack-item-editor {
	input[type="text"] {
		padding: .5rem;
		border: 1px solid var(--border-color);
		box-sizing: border-box;
		border-radius: .5rem;
		outline: none;
	}

	div.usage-options {
		display: flex;
		flex-wrap: wrap;
		gap: .25rem;
	}

	> div.input-fields {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: .25rem .5rem;
		flex-shrink: 0;
	}
}

div.image-pack-view > div.image-pack-editor {
	display: flex;
	flex-direction: column;
	margin: .5rem;
	overflow: hidden;
	gap: .2rem;

	> button.global-save {
		padding: .5rem;
	}

	> div.images {
		display: flex;
		flex-wrap: wrap;
		overflow: scroll;

		> div.item {
			user-select: none;
			width: 6rem;
			height: 6rem;
			flex-shrink: 0;
			border-radius: .25rem;
			padding: .5rem;
			border: 1px solid transparent;

			> button {
				width: 100%;
				height: 100%;

				> svg {
					width: 75%;
					height: 75%;
				}
			}

			> img {
				max-width: 100%;
				max-height: 100%;
			}

			&.dragging {
				box-shadow: 0 0 1rem var(--modal-box-shadow-color);
				background-color: var(--background-color);
				border: 1px solid var(--border-color);
				z-index: 5;
			}
		}
	}
}

div.image-pack-item-editor-wrapper {
	--modal-max-width: 40rem;
	width: 100%;
	padding: 0 !important;

	@media screen and (max-width: 30rem) {
		max-width: 100% !important;
		max-height: 100% !important;
		border-radius: 0 !important;
	}
}

div.image-pack-item-editor {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	width: 100%;
	padding: 1rem;

	> img {
		max-height: 20rem;
		max-width: 100%;
		margin: auto;
	}

	> div.buttons {
		display: flex;
		justify-content: space-between;

		> div.left-buttons {
			display: flex;
		}

		button {
			padding: .5rem 1rem;

			&.dangerous:hover, &.dangerous:focus {
				background-color: var(--error-color);
				color: var(--inverted-text-color);
			}
		}
	}
}
