div.space-view {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-auto-rows: 3rem;
	gap: 0rem;
	flex-direction: column;
	overflow-y: auto;

	padding: .5rem;
	margin: 0 auto;
	max-width: 40rem;
	width: 100%;

	> div.space-child {
		display: flex;
		gap: .25rem;
		overflow: hidden;

		cursor: var(--clickable-cursor);
		padding: .25rem;
		border-radius: .25rem;

		&:hover {
			background-color: var(--button-hover-color);
		}

		> div.room-id-and-name {
			display: flex;
			flex-direction: column;
			justify-content: center;
			overflow: hidden;
			white-space: nowrap;

			> span.room-id {
				font-family: var(--monospace-font-stack);
				opacity: .7;
				font-size: .75rem;
			}

			> span.room-name, > span.room-id {
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}

	> div.buttons {
		display: flex;
		justify-content: right;
		align-items: center;

		> button {
			padding: .5rem;

			&:disabled {
				padding: .5rem .25rem;
			}
		}
	}
}
