div.voice-recorder-box {
	padding: .5rem;
	overflow: visible !important;
}

div.voice-recorder {
	overflow: visible !important;

	> div.progress {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: .75rem;
		position: relative;

		> div.bar {
			position: absolute;
			background-color: var(--primary-color);
			height: .25rem;
			bottom: -.25rem;
		}
	}

	> div.buttons {
		display: flex;

		@media screen and (max-width: 30rem) {
			flex-direction: column;
		}

		> button {
			padding: .25rem 1rem .25rem .5rem;
			margin-bottom: .25rem;

			> svg {
				width: 2rem;
				height: 2rem;
				margin-right: .25rem;
			}

			&.cancel {
				color: var(--error-color);
			}
		}
	}
}
