div.timeline-event > div.read-receipts {
	grid-area: status;
	display: flex;
	justify-content: right;
	align-items: end;
	margin-bottom: .125rem;

	> div.overflow-count {
		font-size: .75rem;
		color: var(--secondary-text-color);
		margin-right: .125rem;
		user-select: none;
	}

	> div.avatars {
		display: flex;
		margin-left: .35rem;

		> img {
			margin-left: -.35rem;
			border: 1px solid var(--background-color);
			background-color: var(--background-color);
		}

		@media screen and (max-width: 45rem) {
			margin-left: .25rem;
		}
	}

	& + div.event-send-status {
		display: none;
	}
}
